Package: tech.favware.darkcons-rootless
Name: Darkcons Rootless
Architecture: iphoneos-arm64
Depends: firmware (>=7.0), mobilesubstrate
Description: Dark themed icons
Maintainer: Favna <support@favware.tech>
Author: Favna <support@favware.tech>
Section: Themes
Depiction: https://favna.github.io/cydia/depictions/?p=tech.favware.darkcons
SileoDepiction: https://favna.github.io/cydia/sileodepictions/darkcons.json
Version: 1.1.1
